table{
    color: #fff; 
    text-align: center;
    border-collapse: collapse;
    font: normal 3em arial, Helvetica, sans-serif;
}

tr{
    height: 16.02vh;
    background-color: #6a0dad;
}

td {
    width: 25vw;
    border: 1px solid #6a0dad;
}

#inputBox{
    background-color: #6a0dad;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border: 0px;
}

.digitButton{
    background-color: #b152b1;
}

.operatorButton{
    background-color: #ff0666;
}

.ACButton{
    background-color: #970555;
}